ADMIN_PORT=
APP_ENV=
ETCD_HOST=
GATEWAY_HOST=
GATEWAY_PORT=
JWT_EXPIRE=
JWT_SECRET=
MYSQL_DATABASE=
MYSQL_DSN=
MYSQL_ROOT_PASSWORD=
NACOS_HOST=
NACOS_NAMESPACE=
NACOS_PORT=
ORDER_RPC_HOST=
ORDER_RPC_LISTEN_ON=
PORTAL_PORT=
REDIS_HOST=
USER_RPC_HOST=
USER_RPC_LISTEN_ON=
VITE_API_URL=
VITE_APP_ENV=
VITE_USE_MOCK=